################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEB/DOCS/12
/WEB/Log
/WEB/Temp
/SbrinnaFramework/bin/Debug
/SbrinnaFramework/obj/Debug
/GisoFramework/bin/Debug
/WEB/Bin
/GisoFramework/obj/Debug
/WEB/DOCS/4
/WEB/web.config
