################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/WEB/DOCS/12
/WEB/Log
/WEB/Temp
/WEB/DOCS/4
