<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  <add name="cns" connectionString="Data Source=hw123.dinaserver.com;Initial Catalog=issus_pre_bbdd;Persist Security Info=True;User ID=issus_pre_admin;Password=RPxw5J$8)9/9" providerName="System.Data.SqlClient" />
	  <add name="cnsPRESmanrter" connectionString="Data Source=sql6002.site4now.net;Initial Catalog=DB_A470DE_issuspre;Persist Security Info=True;User ID=DB_A470DE_issuspre_admin;Password=4@h7yDnFv5" providerName="System.Data.SqlClient" />
	  <add name="cnsPRO" connectionString="Data Source=sql6011.site4now.net;Initial Catalog=DB_A470DE_issuspro2;Persist Security Info=True;User ID=DB_A470DE_issuspro2_admin;Password=3@h2GDnXvq" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="30" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpSoap12" />
        <add name="HttpSoap" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <identity impersonate="false" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="siteUrl" value="http://localhost:81/" />
    <add key="version" value="2.0.1" />
    <add key="mailserver" value="mail.scrambotika.com" />
    <add key="mailaddress" value="issus@scrambotika.com" />
    <add key="mailpass" value="Gu2PdtC5sYJ3FNs8BnPk" />
    <add key="mailport" value="587" />
    <add key="issusVersion" value="PRE 2.0.1" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Service">
        <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Service" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>